[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKsjYafbdknBFdrx8bZ7JkN5ZFPKz3VO2md0t5ieY2L6
  name = Jishnu Sen
  email = jishnu1@gmail.com

[gpg]
  format = ssh

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[format]
  pretty = %Cred%h%Creset - %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset
