[Desktop Entry]
Version=1.0
Name=Feh Album Art
Type=Application
Comment=Show album art in feh window
Terminal=false
Exec=/home/jishnu/.local/bin/art.sh
Categories=Audio;Player;
Keywords=artwork;album;art;
